// background styles

.bg {
  &--white { background-color: $white; }
  &--light { background-color: $grey-lightest; }
  &--dark  { background-color: $grey-dark; }

  &--img   { @include background-attributes; }
  &__fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: $z-background;
    @include background-attributes;
    background-color: $grey-darker;
  }
  &--dark-pattern  {
    background-color: rgb(2,125,141);
    background-image: url('../img/bg-pattern.png'), linear-gradient(45deg, rgba(2,125,141,1) 0%, rgba(32,158,183,1) 100%);
  }
}