<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body>

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% include page/banner.html %}

    <div class="content-spacing section-spacing">

      <!-- loops through section file for page content -->
      {% for section in site.data.sections %}
        <div id="{{section.id}}" class="js-nav-section vpad--xxxxl {% cycle 'bg--white', 'bg--light' %}">
          <div class="container">

            <div class="bob{% cycle '', ' bob--swap' %}">

              <div class="bob__img">
                <div class="row row--gutters-sm">
                  <div class="col col--12">
                    <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/{{section.id}}/01.jpg');"></div>
                  </div>
                  <div class="col col--12">
                    <div class="row row--constant-6-6 row--gutters-sm">
                      <div class="col">
                        <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{section.id}}/02.jpg');"></div>
                      </div>
                      <div class="col">
                        <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/content/{{section.id}}/03.jpg');"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="bob__text">
                <div class="title title--xxl">{{section.title}}</div>
                <p class="text--xl">{{section.description}}</p>
                <div class="space--sm"></div>
                <a href="#guide" class="btn btn--blue">Scarica la guida</a>
              </div>

            </div>

          </div>
        </div>
      {% endfor %}



      <!-- Guide section -->
      <div id="guide" class="js-nav-section vpad--xxxxl bg--dark-pattern text--white">
        <div class="container text--center">
          <h2 class="title title--lg">{{page.guide.title}}</h2>
          <div class="width width--xl">
            <div class="width width--lg text--xxl text--normal space--sm">
              <p>{{page.guide.content}}</p>
            </div>
            <div class="space--xl"></div>
            <iframe class="entry-form" src="{{page.guide.form.url}}" width="100%" height="{{page.guide.form.height}}"></iframe>
          </div>
        </div>
      </div>



      <!-- Qatar section -->
      <div id="qatar" class="js-nav-section bg--img qatar-section">
        <div class="qatar-section__bg" style="background-image: url('{{site.img}}/content/qatar/bg.jpg');"></div>
        <div class="qatar-section__content container text--white">
          <div class="width--lg">
            <a id="tracking-qatar-banner-logo" href="{{page.qatar.link}}" target="_blank"><img class="qatar-section__logo" src="{{site.img}}/logo/qatar.svg" alt="Qatar Airways"></a>
            <h3 class="qatar-title qatar-title--lg">{{page.qatar.title}}</h3>
            <h3 class="qatar-title qatar-title--sm qatar-title--italic space--xxs">{{page.qatar.subtitle}}</h3>
            <div class="space--xs"></div>
            <hr class="hr">
            <p class="text--xxl text--normal">{{page.qatar.content}}</p>
            <div class="space--md"></div>
            <a id="tracking-qatar-banner-button" class="btn btn--lg btn--qatar-light" href="{{page.qatar.link}}" target="_blank">{{page.qatar.cta}}</a>
          </div>
        </div>

        <div class="qatar-section__waves"></div>
      </div>

      <div class="qatar-info-section">
        <div class="container">

          {% for feature in page.qatar.features %}
          <div class="bob{% cycle "", " bob--swap" %}">
            <div class="bob__img">
              <div class="bg-img bg-img--16-9" style="background-image: url('{{site.img}}/content/qatar/{{feature.id}}.jpg');">
                <a id="tracking-qatar-{{feature.id}}-img" class="bg-img__link" href="{{page.qatar.link}}" target="_blank"></a>
              </div>
            </div>
            <div class="bob__text">
              <h4 class="qatar-title">{{feature.title}}</h4>
              <p class="text--lg text--normal">{{feature.content}}</p>
            </div>
          </div>
          {% endfor %}

          <div class="space--xxl text--center">
            <a id="tracking-qatar-content-button" class="btn btn--lg btn--qatar" href="{{page.qatar.link}}" target="_blank">{{page.qatar.cta}}</a>
          </div>

        </div>
        <div class="qatar-section__waves"></div>
      </div>

    </div>

    {% include page/footer.html %}

    {% include modal/sections.html %}

  </body>

</html>