<!DOCTYPE html>
<html lang="en">

  {% include page/head.html %}

  <body>

    {% include components/tracking.html %}

    {% include page/header.html %}

    {% include page/banner.html %}

    <div class="content-spacing section-spacing">

      <!-- loops through section file for page content -->
      {% for section in site.data.sections %}
        <div id="{{section.id}}" class="js-nav-section vpad--xxxxl {% cycle 'bg--white', 'bg--light' %}">
          <div class="container">

            <div class="row row--valign-center row--gutters-lg row--6-6">
              <div class="col">
                <div class="title title--xxl">{{section.title}}</div>
                <p>{{section.description}}</p>
              </div>
              <div class="col">
                <div class="bg-img bg-img--4-3" style="background-image: url('{{site.img}}/img.jpg');"></div>
              </div>
            </div>

            <div class="space--xxl"></div>

            <div class="bg--grey text--center boxpad--xl">
              <div class="title title--xs">{{section.pois.title}}</div>
              <div class="space--sm"></div>
              <div class="row row--constant-6-6 row--lg-4-4-4 row--xxxl-2-2-2-2-2 row--gutters-sm">
                {% for poi in section.pois.items %}
                <div class="col">
                  <div id="tracking-poi-{{poi.id}}" class="js-open-modal bg-img bg-img--3-2" data-open-modal="{{poi.id}}" style="background-image: url('{{site.img}}/img.jpg');"></div>
                </div>
                {% endfor %}
              </div>
            </div>


          </div>
        </div>
      {% endfor %}

      <!-- Offers section -->
      <div id="offers" class="js-nav-section">
        <div class="space--xxxl"></div>
        <div class="title title--xxxl text--center">Latest Offers</div>
        <div class="space--xxl"></div>
        {% include offer/all-offers.html %}
        <div class="space--xxxl"></div>
        {% include page/promo-offers.html %}
      </div>


    </div>


    {% include page/footer.html %}

    {% include modal/sections.html %}

  </body>

</html>